body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(65, 10, 10);
  border: 2x solid powderblue;
  margin: 65px;
  
  
}
.App{
  background-color: rgb(185, 98, 112);
  border-radius: 40px;
  text-align: center;
  background: url("./pastel.jpg");
  background-position: bottom center;
  background-size: cover;
  position: absolute;
  
}
h1{
  color: rgb(110, 109, 177);
  text-align: center;
  font-size: xx-large;
  border: 2px dashed powderblue;
  padding: 30x;
  border-radius: 40px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
